<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Parts</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="homepage">
  <div class="container">
    <div class="row">
      <div class="search">
        <h1 class="homepage-title"> Browse and Download <br> RichCSS. </h1>

        <div class="input-group search-control-container">
          <%= form_tag "/parts/search", :method => 'get', :class => 'search-control' do %>
              <%= text_field_tag :search, params[:search], :class => 'form-control', :placeholder => "Search RichCSS..." %>
              <%= submit_tag "Search", :class => 'search-button', :value=>'⌕' %>
          <% end %>
        </div>   
      </div>
    </div>

    <div class="row">
      <div class="footer">
        <%= link_to "Browse All CSS", parts_path, :class => "color-white" %>
        |
        <%= link_to "RichCSS Documentation", "https://docs.google.com/document/d/1vT3Zpnll7OJV-TLhKijk5KVQdVTiFnUAiuAgoFPVHCM", :class => "color-white" %>
      </div>
    </div>

    <div class="row">
      <div class="description">
        "RichCSS is a CSS framework providing default structures for reusable css elements. It’s built around an Architectural Style that organizes your code in a way that allows: reusability of your css, versioning, the use of css plugins and the ease of using it. RichCSS is bringing convention and organization to CSS that anyone can understand and use. 

        RichCSS is the V2 of ROOCSS. It’s a CSS Framework that makes it easy to organize and use CSS in teams." - Richardson Dackam
      </div>
    </div>
  </div>
  
  <div class="dev-container">
    <div class="row devs">
      Team
    </div>
    <div class="row devslist">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <%= image_tag("default.png") %>
        <div class="dev-name">Gabriel Cheng</div>
      </div>
      <div class="col-md-2">
        <%= image_tag("default.png") %>
        <div class="dev-name">Jonathan Lai</div>
      </div>
      <div class="col-md-2">
        <%= image_tag("default.png") %>
        <div class="dev-name">Nicholas Lo</div>
      </div>
      <div class="col-md-2">
        <%= image_tag("default.png") %>
        <div class="dev-name">Bill Xu</div>
      </div>
      <div class="col-md-2">
        <%= image_tag("default.png") %>
        <div class="dev-name">David Zhu</div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</body>
</html>