<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Parts</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: "partials/header" %>

    <div class="itemlist">
        <h1> Parts </h1>

        <% @length = 0 %>
        <div class="parts">

        <div class="row">
        <% @items.each do |item| %>
            <%= link_to "parts/#{item[:id]}" do %>
            <div class="col-md-4">
                <div class="part-id">
                    <%= item[:id] %>
                </div>

                <div class="part-version">
                    <%= item[:version] %>
                </div>

                <div class="part-summary">
                    <%= item[:summary] %>
                </div>

                <div class="part-download">
                    <%= item[:downloads] %> downloads
                </div>
            </div>
            <% end %>
        <% end %>
        </div>


        </div>
    </div>

    <%= render partial: "partials/footer" %>
</body>
</html>