<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Parts</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: "partials/header" %>

    <div class="col-md-2"></div>

    <div class="col-md-8">  
        <div class="itemlist">
            <h1 class="padding-top-bottom-20"> Parts </h1>

            <% @length = 0 %>
            <div class="parts">

            <div class="row">
            <% @items.each do |item| %>
                <%= link_to "#{item[:id]}" do %>
                <div class="col-md-4 color-black padding-bottom-40">
                    <div class="part-id">
                        <h4><%= item.name %></h4>
                    </div>

                    <div class="part-summary padding-between-text">
                        <i><%= item.description %></i>
                    </div>

                    <div class="part-download padding-between-text">
                        <div class="glyphicon glyphicon-download"></div> <%= item.total_downloads %>
                    </div>

                    <div class="part-version">
                        <%= item.current_version %>
                    </div>
                </div>
                <% end %>
            <% end %>
            </div>


            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

    <%= render partial: "partials/footer" %>
</body>
</html>