<!DOCTYPE html>
<html>
	<head>
	  <title>RichCSS Parts</title>
	  <%= stylesheet_link_tag 'application' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>

  <body>
    <%= render partial: "partials/header" %>
		<div class="col-md-2"></div>

   	<div class="col-md-8">
      <div class="padding-top-30">
        <h1 class="display-inline-block"><%= @part[:name] %></h1>
        <h3 class="display-inline-block margin-left-20"><i><%= @selectedVersion %></i></h3>
      </div>

      <h4 class="display-inline-block"><i><%= @part[:description] %></i></h4>
      <h4 class="display-inline-block position-absolute-right">	
        <div>
      	Total Downloads: <%= @part[:total_downloads] %>
        <br>
        For this Version: <%= @downloads %>
      </div>
      </h4>

      <div class="padding-top-5">
      	Version: 

        <% @versions.each do |version| %>
          <li class="bulletless-list"><a href="/parts/<%= @part[:id] %>/version/<%= version %>"><%= version %></a></li>
			  <% end %>
			</div>

      <div class="padding-top-15">
      	Install via Command Line: <br>
      	<%= @installationCommand %>

      <div class="padding-top-15">
        Repo Release Link: <br>
        <a href="<%= @repoLink %>">
          <%= @repoLink %>
        </a>
      </div>
    </div>

    <div class="col-md-2"></div>

    <%= render partial: "partials/footer" %>
  </body>
</html>