<div class="col-md-2"></div>

  <div class="col-md-8">  
    <div class="itemlist">
        <div class="parts-header-label"> Parts </div>
        <div class="parts-container-block">

          <% @num = 0 %>
          <% @parts.each do |part| %>
            <% if @num == 0 %>
              <div class="row">
            <% end %>

            <%= link_to "/parts/#{part.name}" do %>
              <div class="col-md-4 parts-block">
                <div class="part-id">
                  <h4 class="display-inline-block"><%= part.name %></h4>
                  <div class="part-version-label"><%= part.version %></div>
                </div>

                <div class="padding-bottom-5">
                  <i><%= part.description %></i>
                </div>

                <div class="padding-bottom-5">
                  <div class="glyphicon glyphicon-download"></div> <%= part.total_downloads %>
                </div>
              </div>
            <% end %>

            <% @num = @num + 1 %>
            <% @num = @num % 3 %>
            <% if @num == 0 %>
              </div>
            <% end %>
          <% end %>
          <div class="pagination"><%= will_paginate @parts %></div>
        </div>
    </div>
  </div>
  <div class="col-md-2"></div>