<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Parts</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
    <body>

        <%= render partial: "partials/header" %>

        <%= render partial: "partials/upload" %>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">  
                    <div class="col-lg-12">
                        <%= form_tag("/upload/new", method: "post") do %>
                            <%= label_tag(:part_name, "Part Name:") %>
                            <%= text_field_tag(:part_name) %>
                            <br>
                            <%= label_tag(:part_description, "Part Description:") %>
                            <%= text_field_tag(:part_description) %>
                            <br>
                            <%= label_tag(:repo_name, "Repo Name:") %>
                            <%= text_field_tag(:repo_name) %>
                            <br>
                            <%= label_tag(:repo_owner, "Repo Owner:") %>
                            <%= text_field_tag(:repo_owner) %>
                            <br>
                            <%= label_tag(:release_version, "Release Version:") %>
                            <%= text_field_tag(:release_version) %>
                            <br>
                            <%= label_tag(:email, "Email Address:") %>
                            <%= text_field_tag(:email) %>
                            <br>
                            <%= label_tag(:authors, "Author Name:") %>
                            <%= text_field_tag(:authors) %>
                            <br>
                            <%= submit_tag("Create New CSS Part") %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%= render partial: "partials/footer" %>

    </body>
</html>