<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Parts</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
    <body>

        <%= render partial: "partials/header" %>

        <%= render partial: "partials/upload" %>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">  
                    <div class="col-lg-12">
                        <%= form_tag("/upload/update", method: "post") do %>
                            <%= label_tag(:part_name, "Part Name:") %>
                            <%= text_field_tag(:part_name) %>
                            <br>
                            <%= label_tag(:part_version, "Part Version:") %>
                            <%= text_field_tag(:part_version) %>
                            <br>
                            <%= label_tag(:github_release_number, "Github Release Number:") %>
                            <%= text_field_tag(:github_release_number) %>
                            <br>
                            <%= submit_tag("Update Existing CSS Part") %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%= render partial: "partials/footer" %>

    </body>
</html>